div.mainimg {
    width: 100%;
    height: 240px;
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../imgs/labimg.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    color: var(--colorwhite);
}

.mainimg .imgtext {
    margin: 0 auto;
    text-align: center;
}

.imgtext h1 {
    font-size: 3rem;
}


.access {
    color: var(--colorwhite);
    background-color: var(--colordgray);
    bottom: 0;
    width: 100%;
    min-height: 180px;
    justify-content: center;
}

.access > .container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

#contact {
    color: var(--colorwhite);
    width: 50%;
    min-width: 340px;
    line-height: 1;
}

#contact p {
    color: var(--colorlgray);
}

table {
    margin: 20px 0;
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid var(--colorlgray);
    text-align: center;
    padding: 8px;
    min-width: 4ch;
}

th:nth-child(3) {
    min-width: 12ch;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media only screen and (max-width: 700px) {
    .imgtext h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .imgtext h1 {
        font-size: 2rem;
    }
    .imgtext h3 {
        font-size: 1rem;
    }
    #contact p {
        font-size: 12px;
    }
}